name: Master Workflow

on:
  push:
    branches:
      - master

jobs:
  tag_generator:
    name: Tag Generator
    runs-on: ubuntu-latest
    outputs:
      new-tag: ${{ steps.tag_version.outputs.new_tag  }}
    steps:   
      - name: Automatic Tag (Bump version and push tag)
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches : "master,main,develop"

  build_aws_connector_docker_image:
    name: AWS Connector - Release docker images
    runs-on: ubuntu-latest
    needs:
      - tag_generator
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build AWS Connector docker image
      uses: docker/build-push-action@v2
      with:
        file: aws-connector/Dockerfile
        context: ./aws-connector/
        tags: |
          lamassuiot/lamassu-aws-connector:${{ needs.tag_generator.outputs.new-tag }}
          lamassuiot/lamassu-aws-connector:latest
        push: true
